<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/static/create_user.css">
</head>


<body>
	<h2>
		Create New Account
	</h2>
	<form method="POST" action="/register">
	<div class="box_container">
		
		<div id="box1" >
			<label for="fname"></label><input type="text" id="fname" placeholder="First Name" name="fname" class="form"><br>
		</div>
		<div id="box2">
			<label for="lname"></label><input type="text" id="lname" placeholder="Last Name" name="lname" class="form"><br>
		</div>
		<div id="box3">
			
			<input type="text" id="age" name ="age" placeholder="Age" class="form">
			</div>
			<div id="box4">
				<input type="text" id="city" name ="city" placeholder="City" class="form"><br>
			</div>
			
			
		
  		<div id="box5">
			<button type="submit">
			CREATE
		</button>
		</div>
  			
		
		
		
		
		
		</div>	
		
	</form>
	
	
</body>