<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/static/delete_user.css">
</head>


<body>
	<h2>
		Delete Existing Account
	</h2>
	<form method="POST" action="/delete">
	<div class="box_container">
		
		<div id="box1" >
			<label for="fname"></label><input type="text" id="fname" placeholder="First Name" name="fname" class="form"><br>
		</div>
		<div id="box2">
			<label for="lname"></label><input type="text" id="lname" placeholder="Last Name" name="lname" class="form"><br>
		</div>
		
			
			
		
  		<div id="box5">
			<button type="submit">
			DELETE
		</button>
		</div>
  			
		
		
		
		
		
		</div>	
		
	</form>
	
	
</body>