<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/static/home.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100;1,200&display=swap" rel="stylesheet">  
</head>


<body>
	<div id="container">
		<div id="head">
			<h1> P H A R M A C Y </h1>
		</div>
		
	<div id='menu'>
		<a href="/delete-account">
			<button type="button"> Delete Account </button>
		<a href="/create-new-account">
			<button type="button"> New Account </button>
		</a>
		<a href="/update">
			<button type="button"> Update </button>		
		</a>
		<a href="/accounts">
			<button type="button"> Display </button>
		</a>
	</div>
	</div>
		
	
</body>
<!-- <style>
	body{
	background-color: #d5f5e3 ;
		
	
}
	h1{
	color:red;
}
	</style> -->
