<!DOCTYPE html>
<html>
<head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,700;1,800&display=swap" rel="stylesheet"> 
<link rel="stylesheet" href="/static/request.css">
	</head>
<body>
	<div class="container-r">
		<p><i>Data successfully added!</i>
		
		</p>
		<a href="/">Click here to go to home page!</a>
	</div>
</body>