<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/static/update.css">
</head>





<body>
	<h2>
		Update
	</h2>
	<div id="container">
		<form method="POST" action="/updated">
			
			<div id="box1">
				<input type="text" id="total" placeholder="TOTAL" name="total"><br>
			</div>
			
			
			<div id="box2">
				<input type="text" id="paid" placeholder="PAID" name="paid"><br>
			</div>
			
			<div id="box3">
				<input type="text" id="id" placeholder="ID" name="id"><br>
			</div>
			
			
			
			<button type="submit">
				Update
			</button>
		</form>
	</div>
</body>